.copyright
  background: #F3F3F3
  padding: 32px 0
  &__container
    max-width: 1170px
    margin: 0 auto
    display: flex
    justify-content: space-between
  &__text
    color: #666666
    font-size: 14px
    line-height: 22px
    font-weight: 400
    span
      color: #333333