.hero
  &__slide
    height: 550px
    padding: 150px 0 0 0
    background: url(../img/BG.png) center center/cover no-repeat
  &__container
    max-width: 1170px
    margin: 0 auto
  &__content
    width: 470px
  &__subtitle
    //font-family: 'Jost'
    font-weight: 400
    font-size: 14px
    color: #023047
  &__title
    color: #333333
    font-weight: 700
    font-size: 48px
    margin-top: 11px
  &__info
    color: #333333
    font-weight: 400
    font-size: 14px
    margin-top: 14px
  &__btn
    button
     margin-top: 32px
     width: 130px
     height: 50px
     background: #023047
     border: none
     cursor: pointer
     color: white
