.review
  &__container
    max-width: 1170px
    margin: 0 auto
    padding: 87px 0 130px 0
  &__subtitle
    margin: 17px auto 30px auto
    font-size: 14px
    text-align: center
    color: black
    width: 570px
    line-height: 20px
  &__slide
    width: 570px
    margin: 0 auto
  &__text
    text-align: center
    font-style: italic
    font-size: 18px
    line-height: 33px
  &__photo
    margin: 30px auto 0 auto
    text-align: center
    max-width: 90px
  &__name
    font-size: 14px
    line-height: 20px
    text-align: center
    margin-top: 10px

