.header__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.header__menu {
  display: flex;
  width: 327px;
  justify-content: space-between;
}
.header__menu a {
  text-decoration: none;
  color: #333333;
  font-size: 13px;
}
.header__icons {
  display: flex;
  width: 104px;
  justify-content: space-between;
}
.header__search form {
  position: relative;
  width: 288px;
  margin: 0 auto;
}
.header__search form input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 2px solid #023047;
  outline: none;
  color: #9E9C9C;
}
.header__search form button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background: #023047;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.hero__slide {
  height: 550px;
  padding: 150px 0 0 0;
  background: url(../img/BG.png) center center/cover no-repeat;
}
.hero__container {
  max-width: 1170px;
  margin: 0 auto;
}
.hero__content {
  width: 470px;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #023047;
}
.hero__title {
  color: #333333;
  font-weight: 700;
  font-size: 48px;
  margin-top: 11px;
}
.hero__info {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  margin-top: 14px;
}
.hero__btn button {
  margin-top: 32px;
  width: 130px;
  height: 50px;
  background: #023047;
  border: none;
  cursor: pointer;
  color: white;
}

.collections {
  background-color: #FAFAFA;
}
.collections__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: repeat(2, 210px);
  gap: 30px;
}
.collections__item-big {
  background: url(../img/Summer_Sale.png) center center/cover no-repeat;
  grid-row: span 2;
  position: relative;
}
.collections__item-bag {
  background: url(../img/bags.png) center center/cover no-repeat;
  position: relative;
}
.collections__item-watch {
  background: url(../img/watchs.png) center center/cover no-repeat;
  position: relative;
}
.collections__content-big {
  position: absolute;
  right: 25px;
  bottom: 130px;
}
.collections__content-bag {
  position: absolute;
  left: 28px;
  bottom: 46px;
}
.collections__content-watch {
  position: absolute;
  right: 22px;
  bottom: 46px;
}
.collections__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #023047;
}
.collections__title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}
.collections__btn {
  margin-top: 10px;
  width: 130px;
  height: 50px;
  border: 1px solid #666666;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.bestsellers {
  background: #F5F5F5;
}
.bestsellers__container {
  max-width: 1170px;
  padding: 87px 0 134px 0;
  margin: 0 auto;
}
.bestsellers__catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.bestsellers__catalog-title {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 27px;
  line-height: 18px;
}
.bestsellers__catalog-price {
  font-size: 18px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
  line-height: 18px;
}
.bestsellers__item {
  border: 1px solid #CCCCCC;
  padding: 12px;
  background: white;
  width: 370px;
  box-sizing: border-box;
  min-height: 450px;
}
.bestsellers__item img {
  width: 100%;
}

.discount {
  background: #023047;
}
.discount__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px;
}
.discount__content {
  background: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 970px;
  margin: 0 auto;
}
.discount__super {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
}
.discount__use {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.discount__code {
  border: 1px dashed #023047;
  padding: 15px 30px;
  color: #023047;
  font-size: 14px;
}

.review__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 87px 0 130px 0;
}
.review__subtitle {
  margin: 17px auto 30px auto;
  font-size: 14px;
  text-align: center;
  color: black;
  width: 570px;
  line-height: 20px;
}
.review__slide {
  width: 570px;
  margin: 0 auto;
}
.review__text {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  line-height: 33px;
}
.review__photo {
  margin: 30px auto 0 auto;
  text-align: center;
  max-width: 90px;
}
.review__name {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}

.offer {
  background: url(../img/offer_bg.png) center center/cover no-repeat;
  padding: 80px 0 100px 0;
}
.offer__content {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}
.offer__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}
.offer__title span {
  font-size: 48px;
  line-height: 54px;
}
.offer__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}
.offer__btn {
  margin-top: 20px;
  width: 130px;
  height: 50px;
  border: 1px solid #666666;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.policy {
  background: #F3F3F3;
}
.policy__container {
  max-width: 1170px;
  padding: 100px 0;
  margin: 0 auto;
}
.policy__content {
  display: flex;
  justify-content: space-between;
}
.policy__item {
  border: 1px solid #CCCCCC;
  width: 270px;
  text-align: center;
  box-sizing: border-box;
  padding: 22px 0;
  transition: 0.6s;
}
.policy__item:hover {
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px #e5e5e5;
}
.policy__title {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  margin-top: 8px;
}
.policy__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.blog__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 84px 0 125px;
}
.blog__headline {
  color: #333333;
  text-align: center;
  line-height: 43px;
  font-size: 30px;
  font-weight: 500;
}
.blog__text {
  color: #333333;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 17px auto 46px auto;
  width: 570px;
}
.blog__content {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  display: grid;
}
.blog__post {
  background: #F0F0F0;
}
.blog__post-wrapper {
  padding: 5px 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__post-btn {
  background: #023047;
  color: white;
}
.blog__big {
  grid-row: span 2;
}
.blog__big-wrapper {
  padding: 15px 20px 27px;
}
.blog__big__subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #333333;
}
.blog__big__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
  text-decoration: underline;
  margin-top: 8px;
  margin-bottom: 9px;
  width: 530px;
}
.blog__min__subtitle {
  font-weight: 500;
  font-size: 10px;
  color: #333333;
}
.blog__min__title {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  text-decoration: underline;
  margin-top: 8px;
}
.blog__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 15px;
}

.newsletter {
  background: url(../img/newsletter_bg.png) center center/cover no-repeat;
  padding: 92px 0 100px 0;
}
.newsletter__container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.newsletter__title {
  font-size: 30px;
  line-height: 43px;
  font-weight: 500;
  color: #ffffff;
}
.newsletter__subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 6px auto 14px auto;
  width: 436px;
}
.newsletter__email form {
  position: relative;
  width: 570px;
  margin: 0 auto;
}
.newsletter__email form input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  color: #9E9C9C;
}
.newsletter__email form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 50px;
  border: none;
  background: #023047;
  cursor: pointer;
  color: white;
}

.instagram {
  background: #F3F3F3;
  padding: 100px 0;
}
.instagram__info {
  text-align: center;
}
.instagram__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  color: #000000;
}
.instagram__title a {
  text-decoration: none;
  color: black;
}
.instagram__gallery {
  display: flex;
  margin-top: 42px;
  overflow: hidden;
}
.instagram__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
.instagram__link:hover {
  opacity: 1;
}
.instagram__icon {
  width: 35px;
}
.instagram__photo {
  width: 25%;
  float: left;
  position: relative;
}
.instagram__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.footer {
  padding: 94px 0 100px 0;
}
.footer__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__info {
  color: #333333;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  width: 270px;
  margin-top: 15px;
}
.footer__social {
  margin-top: 11px;
}
.footer__social img {
  margin-right: 15px;
}
.footer__map {
  margin-top: 14px;
}
.footer__map a {
  color: #666666;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 15px;
  text-decoration-line: underline;
}
.footer__links h2 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.footer__links ul {
  padding: 0;
  margin-top: 12px;
}
.footer__links ul li {
  list-style: none;
}
.footer__links ul li a {
  line-height: 25px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.copyright {
  background: #F3F3F3;
  padding: 32px 0;
}
.copyright__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.copyright__text {
  color: #666666;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.copyright__text span {
  color: #333333;
}

body {
  margin: 0;
}
body .title {
  font-size: 36px;
  color: black;
  text-align: center;
  font-weight: 600;
}
body .info {
  margin: 14px auto 0 auto;
  font-size: 14px;
  line-height: 23px;
  width: 542px;
  text-align: center;
}
body .btn {
  border: none;
  cursor: pointer;
  width: 130px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
