@import 'header'
@import 'hero'
@import 'collections'
@import 'bestsellers'
@import 'discount'
@import 'review'
@import 'offer'
@import 'policy'
@import 'blog'
@import 'newsletter'
@import 'instagram'
@import 'footer'
@import 'copyright'
@import 'media'
@import 'libs'

body
  margin: 0
  overflow-x: hidden

  .title
    font-size: 36px
    color: black
    text-align: center
    font-weight: 600
    font-family: Jost, sans-serif

  .info
    margin: 14px auto 0 auto
    font-size: 14px
    line-height: 23px
    max-width: 542px
    text-align: center
    font-family: Jost, sans-serif

  .btn
    border: none
    cursor: pointer
    width: 130px
    height: 50px
    font-family: Jost, sans-serif
    font-weight: 600

  .slick-arrow
    background-color: transparent
    border: none
    box-sizing: border-box
    padding: 0
    cursor: pointer

  .arrowright
    position: absolute
    right: -130px
    bottom: 50%
    transform: translateY(-50%)


  .arrowleft
    position: absolute
    left: -130px
    bottom: 50%
    transform: translateY(-50%)

  .arrowleftHero
    left: -61px

  .arrowrightHero
    right: -61px

  .bestsellers-arrow-left
    left: -80px

  .bestsellers-arrow-right
    right: -80px

  .slick-dots
    display: flex
    justify-content: center
    align-items: center
    list-style: none
    padding: 0
    li
      margin: 0 8px
    button
      background-color: transparent
      border: 1px solid #161616
      width: 9px
      height: 9px
      border-radius: 50%
      padding: 0
      font-size: 0
      cursor: pointer
    li.slick-active
      button
        background-color: #161616


